:root {
	--main-bg-color: #1e1f26;
	--main-text-color: #ccc;
	--button-color: #282a36;
	--white-color: #fff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
	background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    color: var(--main-text-color);
	padding-bottom: 30px;
}

.table{
    display: flex;
	flex-direction: column;
    width: 80%;
    padding: 2rem;
	gap: 30px;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
    0 -15px 15px rgba(255, 255, 255, 0.05),0 15px 15px rgba(0, 0, 0, 0.3),
    inset 0 15px 15px rgba(0, 0, 0, 0.3);
}

.first{
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

.second{
	width: 100%;
}

.page-header, p {
	font-size: 2rem;
	padding-top: 2rem;
	font-family: monospace;
	letter-spacing: 4px;
}

/* Settings*/

.settings{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
    height: 100%;
}

.field{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

#from , #to{
    margin: 0 10px;
	background-color: var(--button-color);
	border: none;
	border-radius: 5px;
	padding: 5px;
	color: var(--white-color);
	font-size: 16px;
	outline: none;
	transition: all 0.3s ease;
}

#from:focus, #to:focus {
	box-shadow: 0 0 5px var(--white-color);
}

#text{
    height: 20px;
	margin: 0 10px;
	background-color: var(--button-color);
	border: none;
	border-radius: 5px;
	padding: 7px;
	color: var(--main-text-color);
	font-size: 16px;
	outline: none;
	transition: all 0.3s ease;
	width: 120px;
}

#text:focus {
  box-shadow: 0 0 5px var(--white-color);
}

button {
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease; 
	font-size: 2rem;
	margin-top: 20px;
}

button:hover {
	background-color: var(--button-color);
	color: var(--white-color);
}

.calculator{
    width: 30%;
}

/* Clock */

.clock {
	min-height: 18em;
	min-width: 18em;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--main-bg-color);
	background-image: url("clock.png");
	background-position: center center;
	background-size: cover;
	border-radius: 50%;
	border: 4px solid var(--main-bg-color);
	box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
		inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3),
		inset 0 15px 15px rgba(0, 0, 0, 0.3);
}
.clock:before {
	content: "";
	height: 0.75rem;
	width: 0.75rem;
	background-color: var(--main-text-color);
	border: 2px solid var(--main-bg-color);
	position: absolute;
	border-radius: 50%;
	z-index: 1;
}

.hour,
.min,
.sec {
	position: absolute;
	display: flex;
	justify-content: center;
	border-radius: 50%;
}

.hour {
	height: 10em;
	width: 10em;
}

.hour:before {
	content: "";
	height: 50%;
	width: 6px;
	background-color: var(--main-text-color);
	border-radius: 6px;
}

.min {
	height: 12em;
	width: 12em;
}

.min:before {
	content: "";
	height: 50%;
	width: 4px;
	background-color: var(--main-text-color);
	border-radius: 4px;
}

.sec {
	height: 13em;
	width: 13em;
}

.sec:before {
	content: "";
	height: 60%;
	width: 2px;
	background-color: #f00;
	border-radius: 2px;
}

/*Chart*/

canvas {
	height: 400px;
}